@import url('https://fonts.googleapis.com/css2?family=Hahmlet&display=swap');

body {
  background-color: rgb(236, 236, 236);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Hahmlet', serif;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.286);
  padding: 20px;
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
}
@media (min-width: 650px) {
  .App {
    height: 95vh;
    width: 640px;
  }
  .MemoItem {
    width: 280px;
    height: 90px;
  }
  .MemoNewButton button {
    width: 580px;
  }
  .MemoButton {
    width: 580px;
  }
}
@media (max-width: 650px) {
  body {
    display: flex;
  }
  .App {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
  .MemoItem {
    width: 90vw;
    height: 90px;
  }
  .MemoNewButton button {
    width: 80vw;
  }
  .MemoButton {
    width: 80vw;
  }
}

/* Header */

.pageicon {
  font-size: 25px;
  border: 1px solid rgb(169, 169, 169);
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 5px;
  color: rgb(130, 130, 130);
}
.pageicon:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.pageicon:active {
  transform: scale(0.95);
}

/* Clock */
.Clock {
  color: rgb(87, 87, 87);
  font-size: 15px;
}

/* TodoList */
.TodoList {
  height: 59vh;
  margin: 0;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.TodoList::-webkit-scrollbar {
  display: none;
}
/* TodoItem */
.TodoItem {
  display: flex;
  text-align: left;
  margin: 4px auto;
  color: white;
  background: lightblue;
  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.complete {
  text-decoration: line-through;
  color: rgb(177, 177, 177);
  background: rgb(211, 211, 211);
  opacity: 0.5;
}

/* MemoButton */

.MemoButton_left {
  border: 0;
  border-radius: 10px 0 0 10px;
  width: 50%;
  height: 100%;
  cursor: pointer;
  color: white;
}
.MemoButton_right {
  border: 0;
  border-radius: 0 10px 10px 0;
  width: 50%;
  height: 100%;
  cursor: pointer;
  color: white;
}
.MemoButton_positive {
  background-color: rgb(209, 233, 209);
}
.MemoButton_negative {
  background-color: rgb(229, 229, 229);
}