@import url('https://fonts.googleapis.com/css2?family=Hahmlet&display=swap');


body {
  background-color:rgb(236, 236, 236);
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
  margin:0;
  font-family: 'Hahmlet', serif;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: center;
  background-color:white;
  border-radius:20px;
  box-shadow:0 5px 10px 0 rgba(0, 0, 0, 0.286);
  padding:20px;
  height:100vh;
  margin:0;
  box-sizing: border-box;
}
@media (min-width : 650px){
  .App{
    height:95vh;
    width:640px;
  }
}
@media (max-width : 650px){
  .App{
    height:100vh;
    width:90vw;
  }
}

/* Header */
.Header{
  height:5vh;
  line-height:5vh;
  display:flex;
  padding:0 20px;
}
.pageicon{
  font-size:20px;
  border:1px solid rgb(169, 169, 169);
  padding:5px 10px;
  border-radius:10px;
  cursor: pointer;
  margin:0 5px;
  color:rgb(130, 130, 130);
}
.pageicon:hover{
  background-color:rgba(0, 0, 0, 0.1);
}
.pageicon:active{
  transform:scale(0.95);
}
/* Clock */
.Clock{
  color:rgb(87, 87, 87);
  font-size:15px;
}
/* Main */
.Main{
  display: flex;
  flex-direction: column;
  height:92vh;
}

/* TodoHeader */
.TodoHeader{
  height:10vh;
}
.TodoHeader h1{
  margin:0;
  font-size:35px;
}
.TodoLength{
  font-size:15px;
  margin:0;
  text-align:right;
  padding-right:50px;
  color:rgb(173, 173, 173);
}
.TodoLength span{
  color:black;
  text-decoration:underline;
  font-size:17px;
}
/* TodoForm */
.TodoForm {
  height:8vh;
  margin-bottom: 32px;
  display:flex;
  justify-content: space-between;
  padding:10px 20px;
  box-sizing: border-box;
}
.TodoInput {
  width:80vw;
  min-width: 200px;
  height: 25px;
  padding: 15px;
  border-radius: 4px 0 0 4px;
  border: 1px solid lightblue;
  outline:none;
  font-family: 'Hahmlet', serif;
}
.TodoButton {
  width:20vw;
  height:57px;
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: lightblue;
  color: white;
}
/* TodoList */
.TodoList{
  height:60vh;
  margin:0;
  overflow:auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.TodoList::-webkit-scrollbar {
  display: none;
}
/* TodoItem */
.TodoItem {
  display: flex;
  text-align:left;
  margin: 4px auto;
  color: white;
  background:lightblue;
  padding: 16px;
  border-radius: 5px;
  width: 90%;
}
.TodoText{
  cursor:pointer;
  width:80vw;
  margin:0;
}
.complete {
  text-decoration: line-through;
  color:rgb(177, 177, 177);
  background:rgb(211, 211, 211);
  opacity:0.5;
}
.TodoIcon {
  display: flex;
  align-items: center;
  width:10vw;
  font-size: 24px;
  cursor: pointer;
}

/* MemoInput */
.MemoInput textarea{
  width:90%;
  min-height:100px;
  resize:vertical;
  box-sizing:border-box;
}