body {
  background-color:rgb(236, 236, 236);
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
  margin:0px;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: center;
  background-color:white;
  border-radius:20px;
  box-shadow:0 5px 10px 0 rgba(0, 0, 0, 0.286);
  padding:20px;
  height:100vh;
}
@media (min-width : 650px){
  .App{
    height:95vh;
    width:640px;
  }
}
@media (max-width : 650px){
  .App{
    height:100vh;
    width:90vw;
  }
}
.App h1 {
  margin: 32px 0;
  font-size: 33px;
}

/* Main */
.Main{
  display: flex;
  flex-direction: column;
  height:90vh;
}
.todo-list{
  overflow:auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.todo-list::-webkit-scrollbar {
  display: none;
}
/* TodoForm */
.todo-form {
  margin-bottom: 32px;
  display:flex;
  justify-content: space-between;
  padding:0 20px;
}
.todo-input {
  width:80vw;
  min-width: 200px;
  height: 25px;
  padding: 15px;
  border-radius: 4px 0 0 4px;
  border: 1px solid lightblue;
  outline:none;
}
.todo-button {
  width:20vw;
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: lightblue;
  color: white;
}

/* TodoItem */
.todo-row {
  display: flex;
  text-align:left;
  margin: 4px auto;
  color: white;
  background:lightblue;
  padding: 16px;
  border-radius: 5px;
  width: 90%;
}
.text{
  cursor:pointer;
  width:80vw;
  margin:0;
}
.complete {
  text-decoration: line-through;
  color:rgb(177, 177, 177);
  background:rgb(211, 211, 211);
  opacity:0.5;
}
.todo-icon {
  display: flex;
  align-items: center;
  width:10vw;
  font-size: 24px;
  cursor: pointer;
}