/* #root{
  background-color:white;
  border-radius:20px;
  box-shadow:0 5px 10px 0 rgba(0, 0, 0, 0.286);
  padding:20px;
}
@media (min-width : 650px){
  #root{
    height:95vh;
  }
}
@media (max-width : 650px){
  #root{
    height:100vh;
  }
} */